$border: rgb(224, 230, 235);
$background-blue: rgb(60, 131, 246);
$background: rgb(249, 250, 251);
$f7: 0.875rem;
$text-primary: rgb(43, 51, 59);
$text-secondary: rgb(115, 128, 140);
$text-inverse: rgb(255, 255, 255);
$text-inverse-muted: rgba(255, 255, 255, 0.8);
$font-family-sans-serif:
  "Golos Text",
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Arial,
  sans-serif;
