.search-wrapper {
  --focus-color: rgb(119, 177, 224);
  border: 1px solid rgb(224, 230, 235);
  border-radius: 0.375rem;
  overflow: hidden;
  transition:
    border-color 0.15s ease-in-out,
    border-width 0.15s ease-in-out;
  height: 42px !important;
}

.search-wrapper:focus-within {
  border-color: var(--focus-color);
  border-width: 1px;
  box-shadow: none;
}

.search-group .input-group-text,
.search-group .form-control {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: transparent;
}

.search-group .form-control:focus {
  box-shadow: none !important;
  outline: none;
}

.search-wrapper.rounded-pill {
  border-radius: 50rem;
}
