.custom-ng-select ::ng-deep .ng-select-container {
  padding: 20px 12px !important;
  background-color: rgb(249, 250, 251);
  border-color: hsl(210 20% 90%);
  height: 42px !important;
}

.custom-ng-select ::ng-deep .ng-value-container {
  padding: 0;
}

.custom-ng-select ::ng-deep .ng-input {
  padding: 0;
}

cdk-virtual-scroll-viewport {
  background-color: white !important;
}

.ng-dropdown-panel {
  background-color: white !important;

  * {
    background-color: transparent !important;
  }
  .ng-dropdown-panel {
    z-index: 9999 !important;
    pointer-events: auto !important;
  }

  .ng-dropdown-panel .ng-option {
    pointer-events: auto !important;
  }

  .ng-option {
    background-color: white !important;

    &:hover {
      background-color: #f8f9fa !important;
    }

    &.ng-option-selected {
      background-color: #0d6efd !important;
      color: white !important;

      * {
        color: white !important;
      }
    }
  }
}
