@use "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");
@import "@ng-select/ng-select/themes/default.theme.css";

$border: rgb(224, 230, 235);
$background-blue: rgb(60, 131, 246);
$background: rgb(249, 250, 251);
$f7: 0.875rem;
$text-primary: rgb(43, 51, 59);
$text-secondary: rgb(115, 128, 140);
$text-inverse: rgb(255, 255, 255);
$text-inverse-muted: rgba(255, 255, 255, 0.8);
$font-family-sans-serif:
  "Golos Text",
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Arial,
  sans-serif;
*,
*::before,
*::after {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  background-color: rgb(249, 250, 251);
  font-family: "Golos Text", system-ui, sans-serif;
  color: $text-primary;
  font-size: 0.875rem;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dd,
dt,
blockquote,
figure,
pre,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  margin: 0 !important;
  padding: 0 !important;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  max-width: 100%;
  margin: 0;
}

input,
button,
textarea,
select,
legend {
  margin: 0;
  padding: 0;
  font: inherit;
}

.text-primary {
  color: $text-primary !important;
}

.fs-7 {
  font-size: $f7 !important;
}
.text-secondary {
  color: $text-secondary !important;
}

.text-inverse {
  color: $text-inverse !important;
}

.text-inverse-muted {
  color: $text-inverse-muted !important;
}

.bg-blue-500 {
  background-color: rgb(87, 156, 188) !important;
}
.bg-background {
  background-color: $background !important;
}

.bg-blue-badge {
  background-color: $background-blue !important;
}
.text-blue-500 {
  color: rgb(87, 156, 188) !important;
}

.fs-7 {
  font-size: 0.75rem;
}
.text-blue-500 {
  color: rgb(87, 156, 188) !important;
}

.card {
  border-color: $border !important;
}

.border-border {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: hsl(210 20% 90%);
}

.bg-card {
  background: hsl(210deg 20% 95% / 30%);
}

.button-altura {
  height: 2.25rem;
  background: hsl(210deg 20% 95% / 30%);
}

.icon-button {
  height: 0.875rem !important;
  width: 0.875rem !important;
}
