@use "bootstrap/scss/bootstrap";
@use "./styles/abstracts/variables";
@use "./styles/base/reset";
@use "./styles/base/typography";
@use "./styles/componentes/button";
@use "./styles/componentes/toasts";
@use "./styles/componentes/utilities";

@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");
@import "@ng-select/ng-select/themes/default.theme.css";
@import "ngx-toastr/toastr";
