@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: $font-family-sans-serif;
  color: $text-primary;
  font-size: 0.875rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  max-width: 100%;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
}
